@import "../common/styles/sass/variables";

.projectsblock {
  //padding: 100px;
  background-color: $bgSecondColor;

  .ProjectsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      flex-wrap: wrap;
      align-items: flex-start; /* Регулирует по высоте взависимости от контента*/
      @media screen and (max-width: 1075px) {
        justify-content: center;
      }
    }
  }
}


