@import "../common/styles/sass/mixins.scss";
@import "../common/styles/sass/variables";


.nav {
    @include text($titleFontFamily, 18px, 700, 1.2);
    @include flex(row, space-around, center, wrap);
    width: 350px;
    .a{
        color: $textColor;
        text-decoration: none;
    }
}
