.header {

    height: 80px; /*высота header*/
    background-color: #94f3ff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container {
    justify-content: flex-end;
}