@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.remoteBlock {
  background: $bgColor;
  padding: 100px 0;

  .remoteContainer {
    @include container();
    flex-direction: column;
    justify-content: flex-start;

    .titleBlock {
      margin-bottom: 30px;
    }

    .buttonContainer {
      display: flex;

    }
  }
}








