@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.skillBlock {
  background-color: $bgColor;
  padding: 40px 0px;
  position: relative;
  max-width: 340px;
  margin: 30px auto; //при переносе центрирует

  .icon {
    background-color: $bgColor;
    height: 80px;
    width: 80px;
    color: $primaryColor;
    margin: 0px auto 20px;
    display: block;
    text-align: center;
    position: relative;
  }

  .skillInfo {
    padding-top: 30px;
    text-align: center;

    .skillTitle {
      @include text($titleFontFamily, 16px, 700, 1.2);
      text-transform: uppercase;
      margin: 0 0 15px;
      padding: 0;
    }

    .description {
      @include text($textFontFamily, 14px, 400, 1.8);
      padding-top: 30px;
      text-align: center;
      overflow-x: hidden;
      background-color: $bgColor;
    }
  }
}




