.mainBlock {
    height: 100vh;
    background-color: #ffe2e9;
    flex-wrap: wrap;
}

.container {
    flex-wrap: wrap;
}

.text {
    width: 375px;
    background-color: #e0e0e0;
}
.foto {
    width: 300px;
    height: 400px;
    background-color: #e0e0e0;

}
