@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins';

.mainBlock {
  min-height: 100vh;
  background-color: $bgSecondColor;
  padding-top: 180px;

  .mainContainer {
    @include flex(row, space-around, center, wrap);

    .text {
      min-height: 300px;
      background-color: $bgSecondColor;
      flex-wrap: wrap;

      span {
        @include text($textFontFamily, 16px, 400, 1.8);
        flex-wrap: wrap;
        background-color: $bgSecondColor;
      }

      h1 {
        @include text($titleFontFamily, 50px, 700, 1.2);
        flex-wrap: wrap;
        padding: 10px 0 10px;
        letter-spacing: 5px;
        position: relative;
      }

      h1::after {
        position: absolute;
        content: '';
        background: $primaryColor;
        width: 100%;
        height: 15px;
        bottom: -5px;
        left: 0%;
      }

      p {
        @include text($textFontFamily, 27px, 400, 1.8);
        flex-wrap: wrap;
      }
    }

    .fotoContainer {
      width: 400px;

      .foto {
        width: 100%;
        height: 400px;
        background-color: #e0e0e0;
      }
    }
  }
}







