.projectsblock {
    min-height: 100px;
    background-color: #ffb500;
}
.title {
background-color: #dfdfe5;
}

.ProjectsContainer {
    flex-direction: column;
    justify-content: flex-start;

}

.button {

}

/*.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}*/
